*{
  font-family: "Quicksand", sans-serif;
  margin: 0;
  padding: 0;
}

html {
  scroll-padding-top: 56px;
  overflow-x: hidden;
}
body {
  position: relative;
}

.jumbotron {
  background-image: url("./assets/bglandingpage.jpg");
  background-size: cover;
  background-position: center;
  color: #f0f0f0;
  width: 100vw;
  height: 75vh;
  display:flex;
  align-content:center;
  justify-items:center;
  align-items:center;
  text-align: center;
  margin-bottom: 0 !important;
}

#svi-vision-jumbo{
  background-image: url("./assets/bgskyscrapers.jpg");
  align-items: center;
  height: auto;
  height: 75vh;
}

#svi-vision-text{
  font-size: 18px;
}

.svi-nav{
  background-color: #1b1c1e !important;
  position: sticky !important; 
  top: 0 !important;
  z-index: 1020 !important;
}

.nav-link{
  color: #f0f0f0 !important;
}

.svi-section-header{
  text-align: center;
  padding-top: 2%;
  padding-bottom: 2%;
}

.svi-section-header:after {
  content: '';
  height: 2px;
  width: 15vw;
  text-align: center;
  background: #5bc0eb; 
  display: inline-block;
}

#svi-services-container{
  background-color: #f0f0f0;
  padding-top: 2%;
  padding-bottom: 2%;
  color: #1b1c1e;
}


.svg-inline--fa {
  margin-right: 2%;
}

.card-title{
  text-align: center;
}

.card-body{
  text-align: center;
}

.svi-testimonial{
  border: none;
}

.svi-aboutus-text{
  text-align: center;
}

@media screen and (min-width: 768px){
  .svi-aboutus-text{
    text-align: left;
  }
}

@media screen and (min-width: 992px){
  #svi-aboutus{
    padding-left: 5%;
    padding-right: 5%;
  }
}

#svi-aboutus{
  align-content:center;
  align-items:center;
  text-align: center;
  background-color: #f0f0f0;
  color: #1b1c1e;
}

#svi-testimonials-container{
  background-color:#f0f0f0;
  padding-bottom: 5%;
}

.carousel-indicators{
  transform: translateY(60%);
}

.carousel-indicators li{
  background-color: #1b1c1e !important;
}

.carousel-control-prev-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%231b1c1e' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
 }
 
 .carousel-control-next-icon {
   background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%231b1c1e' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
 }

.svi-testimonials-slide-text{
  padding-top: 2%;
  margin-left: 10%;
  margin-right: 10%
}

#svi-footer{
  background-color: #1b1c1e;
  color: #f0f0f0;
  width: 100vw;
  align-content:center;
  align-items:center;
  text-align: center;
}

#svi-footer-tagline-text{
  padding-top: 2%;
  padding-bottom: 2%;
}

#svi-footer-socialmedia-text{
  padding-top: 2%;
}

#svi-footer-socialmedia-links{
  padding-bottom: 2%;
}
@media screen and (max-width: 576px){
  #svi-footer-socialmedia-links{
    padding-bottom: 10%;
    padding-top: 2%;
  }
  #svi-services-container{
    padding-bottom: 10%;
  }
  #svi-aboutus-thumbnail{
    padding-bottom: 10%;
  }
}

#svi-fb-btn{
  background-color: #3B5998;
  border: none;
}

#svi-ig-btn{
  background: #f09433; 
  background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%); 
  background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
  background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
  border: none;
}

#svi-yt-btn{
  background: #bb0000;
  border: none;
}