*{
  font-family: "Quicksand", sans-serif;
  margin: 0;
  padding: 0;
}

html, body {
  /* overflow-x: hidden; */
}
body {
  position: relative
}

.jumbotron {
  background-image: url("./assets/bglandingpage.jpg");
  background-size: cover;
  background-position: center;
  color: #f0f0f0;
  width: 100vw;
  height: 75vh;
  display:flex;
  align-content:center;
  justify-items:center;
  align-items:center;
  text-align: center;
  margin-bottom: 0 !important;
}

#svi-vision-jumbo{
  background-image: url("./assets/bgskyscrapers.jpg");
  align-items: flex-start;
  height: auto;
}

.svi-nav{
  background-color: #1b1c1e;
  position: sticky !important; 
  top: 0 !important;
  z-index: 1020 !important;
}


.svi-section-header{
  text-align: center;
  padding-top: 2%;
  padding-bottom: 2%;
}

#svi-services-container{
  background-color: #f0f0f0;
  padding-top: 2%;
  padding-bottom: 2%;
}

.svg-inline--fa {
  margin-right: 2%;
}

.card-title{
  text-align: center;
}

.card-body{
  text-align: center;
}

.svi-testimonial{
  border: none;
}

#svi-aboutus-text{
  text-align: center;
}

#svi-aboutus{
  align-content:center;
  align-items:center;
  text-align: center;
}

#svi-footer{
  background-color: #1b1c1e;
  color: #f0f0f0;
  width: 100vw;
  align-content:center;
  align-items:center;
  text-align: center;
}

#svi-footer-copyright-text{
  padding-top: 5%;
  line-height: 0.5;
  color: #6c757d;
}